ipykernel>=6
jupyterlab==3.2.9
jupyterlab-language-pack-pl-pl>=3.1.post5
jupyterlab-language-pack-tr-TR>=3.1.post5
jupyterlab-language-pack-el-GR>=3.1.post5
jupyterlab-link-share
# LSP
jupyterlab-lsp
jupyterlab-git
jupyterlab-spellchecker
jupyterlab-spreadsheet-editor
gower==0.0.5
scikit-learn
plotnine
umap-learn 
statsmodels
scipy
matplotlib
pandas
ipympl
Git>=2.x
ipywidgets
widgetsnbextension
